<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <a href="/"><img src="~/images/icons/logo-01.png" alt="IMG-LOGO"></a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
            <div class="menu-mobile">
                <ul class="main-menu-m">
                    <li><a href="/" class="single-menu">Ana Sayfa</a></li>
                    <li><a href="/Gezin" class="single-menu">Gezin</a></li>
                    <li><a href="/Kategoriler" class="single-menu">Kategoriler</a></li>
                    <li><a href="/Siralama" class="single-menu">Sıralamalar</a></li>
                    <li><a href="/iletisim" class="single-menu">İletişim</a></li>
                    <li><a href="#" class="single-menu" onclick="document.getElementById('signUp').style.display='block'">Kayıt Ol</a></li>
                    <li> <a href="#" class="single-menu" onclick="document.getElementById('logIn').style.display='block'">Giriş Yap</a></li>
                </ul>
            </div>





            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">

                        <ul class="main-menu">

                            <a href="/"><img style="width:45px;height: 45px;" src="~/images/logo/tartIshLogo.png" /></a>

                            <a href="/Gezin" class="single-menu">Gezin</a>
                            <a href="/Kategoriler" class="single-menu">Kategoriler</a>
                            <a href="/Siralama" class="single-menu">Sıralamalar</a>

                            <li>
                                <a href="#">Diğer</a>
                                <ul class="sub-menu">
                                    <li><a href="/iletisim">İletişim</a></li>
                                </ul>
                            </li>


                            <div class="pos-relative size-a-2-search bo-1-rad-22 of-hidden bocl11 m-tb-6" style="margin-left:auto;">
                                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Ara: Kullanıcı, tartışma...">
                                <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>

                            <div class="pos-relative  bo-1-rad-22 of-hidden bocl11 m-tb-6" style="margin-left:auto;">
                            </div>
                            <a href="#" class="single-menu" onclick="document.getElementById('signUp').style.display='block'">Kayıt Ol</a>
                            <a href="#" class="single-menu" onclick="document.getElementById('logIn').style.display='block'">Giriş Yap</a>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div id="signUp" class="modal2">

        <form class="modal-content animate" action="/Kayit-Ol" method="POST">
            <br>
            <p style="margin:auto;"><b>tartIsh Kayıt ol</b></p>
            <br>
            <div class="container">
                <input type="text" class="modalInput" placeholder="Adınızı Giriniz" name="firstname" required>
                <input type="text" class="modalInput" placeholder="Soyadınızı giriniz" name="lastname" required>
                <input type="text" class="modalInput" placeholder="Elektronik postanızı giriniz" name="email" required>
                <span style="margin-left:26px;">Doğum tarihiniz:</span><input type="date" class="modalInput" name="birthday" required>
                <label style="margin-left:26px;">Cinsiyetiniz:</label>
                <select style="margin-left:26px;" name="gender" required>
                    <option value="0">Kadın</option>
                    <option value="1">Erkek</option>
                </select>
                <input type="text" class="modalInput" placeholder="Kullanıcı adınızı giriniz" name="username" required>
                <input type="password" class="modalInput" placeholder="Şifrenizi giriniz" name="password" required>
                <button class="modalButton" type="submit" name="signUp">Kayıt Ol</button>
                @if (TempData["Kayit"] != null && !(bool)TempData["Kayit"])
                {<b>@TempData["SignUpMessage"]</b>}
            </div>

        </form>

    </div>

    <div id="logIn" class="modal2">

        <form class="modal-content animate" action="Giris-Yap" method="POST">
            <br>
            <p style="margin:auto;"><b>tartIsh Giriş Yap</b></p>
            <br>
            <div class="container">
                <input type="text" class="modalInput" placeholder="Kullanıcı adınızı giriniz" name="username" required>
                <input type="password" class="modalInput" placeholder="Şifrenizi giriniz" name="pass" required>
                <button class="modalButton" type="submit" name="logIn">Giriş Yap</button>
                <input type="checkbox" style="margin:26px 30px;" value="true name="rememberme"><p style="margin-top: -43px;margin-left:45px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beni Hatırla</p>
                @if (TempData["Giris"] != null && !(bool)TempData["Giris"])
                {<b>@TempData["LogInMessage"]</b>}
                @*<a href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Şifrenizi mi unuttunuz?</a>*@
            </div>

        </form>

    </div>



    @RenderBody()


    <script>
        var modal = document.getElementById('logIn');
        var modal2 = document.getElementById('signUp');
        window.onclick = function (event) {
            if (event.target == modal || event.target == modal2) {
                modal.style.display = "none";
                modal2.style.display = "none";
            }

        }
    </script>
    @{
        if (TempData["Giris"] != null && !(bool)TempData["Giris"])
        {
            <script>
                var logInBar = document.getElementById('logIn');
                logInBar.style.display = "block";
            </script>
        }

    }
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
